@media screen and (min-width: 835px) and (max-width: 1000px) {
    .header-menu {
      float: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0 30px;
      float: left;
    }
  
    .header-menu a {
      padding-top: 20px;
      margin-top: 10px;
      font-size: 16px;
    }

    .lesson{
      width: 25%;
    }

    .title p{
      margin-top: 2px;
    }
    
    .day {
      margin-top: 5px;
    }

    .form{
      width: 100%;
    }

    .footer{
      width: 100%;
      padding: 0px -30px;
    }

    .footer-span{
      margin-right: 30px;
      padding-right: 40px;
    }
}

@media screen and (max-width: 835px){
  .header-menu{
    float: none;
  }

  .header-menu a{
    padding-top: 20px;
    font-size: 16px;
  }

  .lessons {
    flex-direction:column;
  }
.lesson {
    margin:20px auto;
    width: 100%;
}

  .title p{
    margin-top: 2px;
  }

  .day {
    margin-top: 5px;
  }

  .form{
    width: 100%;
  }

  .footer{
    width: 100%;
    padding: 0px -30px;
  }

  .footer-span{
    margin-right: 30px;
    padding-right: 40px;
  }

}

@media screen and (min-width: 670px) and (max-width: 712px) {
    .header{
      margin: 0 auto;
    }

    .logo{
      width: 60px;
      padding: 10px 0;
      margin-left: -30px;
    }

    .header-menu a{
      padding-top: 20px;
      font-size: 14px;
    }

    .lessons {
      flex-direction:column;
    }
  .lesson {
      margin:20px auto;
      width: 100%;
  }

    .title p{
      margin-top: 2px;
    }

    .form{
      width: 100%;
    }

    .footer{
      width: 100%;
      padding: 0px -30px;
    }

    .footer-span{
      margin-right: 30px;
      padding-right: 40px;
    }

  }
  
  